<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        Pre-Inscripcion 2200
      </div>
      <div class="card-body">
        <form >
          <div class="form-group">
            <input type="text"  name="name" class="form-control" placeholder="Nombre" required autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="lastName" class="form-control" placeholder="Apellido" required>
          </div>
          <div class="form-group">
            <select name="select" class="form-control"  name="gender" >
              <option hidden disabled value="">Genero</option>
              <option value="male">Masculino</option>
              <option value="Female">Femenino</option>
              <option value="other">otro</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text"name="yearsOld" class="form-control" placeholder="Edad" required>
          </div>
          <div class="form-group">
            <input type="text"  name="dni" class="form-control" placeholder="Numero de Documento" required>
          </div>
          <div class="form-group">
            <input type="text" name="adress" class="form-control" placeholder="Direccion" required>
          </div>
          <div class="form-group">
            <input type="text"  name="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="text" name="tutor" class="form-control" placeholder="Nombre del Tutor">
                      </div>
          <div class="form-group">
            <select name="select" class="form-control"  name="type" placeholder="materias">
              <option value="" hidden>Grado a ingresar</option>
              <option value="adminitrativo">1ro</option>
              <option value="docente">3ro</option>
              <option value="docente">4to</option>
              <option value="docente">5to</option>
              <option value="docente">6to</option>
              <option value="docente">7to</option>
              <option value="docente">8vo</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success btn-block">Enviar Formulario</button>
        </form>
      </div>
    </div>
  </div>
</div>
