


<div class="container-fluid">
  <div id="demo" class="carousel slide" data-ride="carousel">


    <!-- INDICADORES -->

    <ul class="carousel-indicators">
      <li data-target="demo" data-slide-to="0" class="active"></li>
      <li data-target="demo" data-slide-to="1"></li>
      <li data-target="demo" data-slide-to="2"></li>
    </ul>

    <!-- IMGS-->

    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../../../assets/img/img1.jpg" class="img-fluid">
        <div class="carousel-caption">
          <h3 class="title-carousel">Nestra pasion es Educar</h3>
          <p> Todo nuestro equipo de docentes esta compromeido a dar lo mejor si en cada clase dictada</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../assets/img/img2.jpg" class="img-fluid">
        <div class="carousel-caption">
          <h3 class="title-carousel">Tecnologia</h3>
          <p> Todos los años actualizamos nuestros equipos y temas</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../assets/img/img3.png" class="img-fluid">
        <div class="carousel-caption">
          <h3 class="title-carousel">Entorno de Trabajo</h3>
          <p>Nuestras instalaciones cuentan con todas las comodidas</p>
        </div>

      </div>
    </div>

    <a href="#demo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
    <a href="#demo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>


  </div>

</div>
