<div class="jumbotron">
  <h1 class="display-4">Escuela Primaria Nº 146 Republica de Indonesia ofrece servicios educativos en la modalidad de educación común en
    el
    nivel primario.</h1>
  <hr class="my-4">
  <h2>Ubicacion:</h2>
  <p>La institución educativa Escuela Primaria Nº 146 Republica de Indonesia se encuentra ubicada en la localidad de
    Ciudad Evita;
    perteneciente al Municipio de La Matanza de la Provincia de Buenos Aires.</p>
  <p><strong>Telefono:</strong>   4612-8888</p>
  <p><strong>Email:</strong>   esc146indonesia@gmail.com</p>
  <p><strong>Facebook:</strong>  Escula Indonesia Nro 146/p>
  <p><strong>Telefono:</strong>   4612-8888</p>
  <div id="leer"><a type="button" class="btn btn-success btn-block btn-lg" href="/pre-inscription" role="button">Pre-Inscripcion abierta para el proximo año</a>
  </div>
</div>




