<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header m-auto">
                Nuevo Usuario
            </div>
            <div class="card-body">
                <form (submit)="newUser()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.name" name="name" class="form-control" placeholder="Nombre" required autofocus>
                    </div> 
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.lastName" name="lastName" class="form-control" placeholder="Apellido" required>
                    </div>  
                    <div class="form-group">
                        <select name="select" class="form-control" [(ngModel)]="user.gender" name="gender" >
                            <option hidden disabled value="">Genero</option>
                            <option value="male">Masculino</option>
                            <option value="Female">Femenino</option>
                            <option value="other">otro</option>
                          </select>
                    </div>       
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.yearsOld" name="yearsOld" class="form-control" placeholder="Edad" required>
                    </div>         
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.dni" name="dni" class="form-control" placeholder="Numero   de Documento" required>
                    </div>          
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.adress" name="adress" class="form-control" placeholder="Direccion" required>
                    </div>                            
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required>
                    </div>  
                    <div class="form-group">
                        <select name="select" class="form-control" [(ngModel)]="user.type" name="type" placeholder="materias">
                            <option value="" hidden>Cargo</option>
                            <option value="adminitrativo">Administrativo</option>
                            <option value="docente">Docente</option>
                            <option value="directivo">Directivo</option>
                            <option value="Empleado">Empleado</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <select name="select" class="form-control" [(ngModel)]="user.matter" name="matter" placeholder="materias">
                            <option value="" hidden>Asignatura</option>
                            <option value="Lengua">Lengua</option>
                            <option value="Ciencias Sociales">Ciencias Sociales</option>
                            <option value="Ciencias Naturales">Ciencias Naturales</option>
                            <option value="Educación física">Educación física</option>
                            <option value="Tecnología">Tecnología</option>
                            <option value="Música">Música</option>
                            <option value="Formación Ética y Ciudadana">Formación Ética y Ciudadana</option>
                            <option value="Inglés">Inglés</option>
                            <option value="Plástica">Plástica</option>
                            <option value="Lengua" selected>Lengua</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">SignUp</button>
                </form>
            </div>
        </div>
    </div>
</div>
  